.card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas: 'header' 'content' 'footer';
    width: var(--cardX);
    height: var(--cardY);
    padding: 1%;
    margin: 3% 1% 1% 1%;
    color: var(--lemon-green);
    font-weight: bold;
    background-color: var(--dark-gray);
    border-radius: 5px;
    transition: .5s;
}
.card:hover {
    width: calc(var(--cardX) * 1.2);
    height: calc(var(--cardY) * 1.2);
    margin: 1% 1% 1% 1%;
    transition: .5s;
    box-shadow: 1px 1px 50px 20px var(--lemon-green);
}
.card:hover > .cardimage {
    border: 2px dashed var(--lemon-green);
    transition: var(--transition);
}

.cardInfoContainer, .cardStatusContainer {
    display: flex;
}

.cardInfoContainer {
    grid-area: header;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.cardStatusContainer {
    justify-content: flex-end;
    width: 10%;
}
.cardStatusIcon {
    color: var(--lemon-green);
}

.cardimage {
    grid-area: content;
    width: 100%;
    border-radius: 50%;
    border: 10px solid var(--lemon-green);
    background-size: cover;
    transition: var(--transition);
}

.cardActionsContainer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    width: 100%;
}