.card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas: 'header' 'content' 'footer';
    width: var(--cardX);
    height: var(--cardY);
    padding: 1%;
    margin: 1.5% 1% 1% 1%;
    color: var(--shocking-pink);
    background-color: var(--dark-gray);
    border-radius: 5px;
    transition: .5s;
}
.card:hover {
    margin: 1% 1% 1% 1%;
    box-shadow: 1px 1px 10px 2px var(--shocking-pink);
    transition: .5s;
}

.cardInfoContainer, .cardStatusContainer {
    display: flex;
}

.cardInfoContainer {
    grid-area: header;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.cardStatusContainer {
    justify-content: flex-end;
    width: 10%;
}
.cardStatusIcon {
    color: var(--shocking-pink);
}

.cardimage {
    grid-area: content;
    width: 100%;
    background-size: cover;
    border-radius: 50%;
    border: 10px solid var(--shocking-pink);
    transition: var(--transition);
}

.cardStatus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 1% 2%;
    padding: 1%;
    font-weight: bold;
    color: white;
    background-color: var(--shocking-pink);
    border-radius: 10px;
}

.cardActionsContainer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}