.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background-size: cover;
    /* background-color: var(--dark-gray); */
    background-image: url("https://cdna.artstation.com/p/assets/images/images/052/584/160/large/nick-bear-screen-shot-2021-11-18-at-12-32-36-pm.jpg");
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.cardPlayerDeck {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1%;
    margin: 0;
}
.cardPlayerDeckActions {
    display: flex;
    width: 100%;
    margin: 1% 0;
    justify-content: space-around;
}

.pageButtons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


@media screen and (min-width: 900px) {
    .container {
        flex-direction: row-reverse;
        justify-content: space-around;
    }
}

