:root {
    --lemon-green: #A6E22E;
    --turquoise-blue: #66D9EF;
    --neon-purple: #AE81FF;
    --bright-yellow: #E6DB74;
    --shocking-pink: #F92672;
    --dark-gray: #272822;
    --navy-blue: #66D9EF;
    --transition: .3s;

    /* Cards */
    --cardX: 220px;
    --cardY: 330px;
}

*{
    font-size: 1em;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

/* Default button settings */
.button, .buttonPlayerCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30px;
    padding: .5% 2%;
    margin: 1%;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    transition: var(--transition);
}
.button:hover, .buttonPlayerCard:hover {
    cursor: pointer;
    border-radius: 10px;
    transition: var(--transition);
}

.button {
    background-color: var(--shocking-pink);
    color: white;
}
.button:hover {
    color: var(--dark-gray);
    background-color: var(--neon-purple);
}
.button:active {
    background-color: #A6E22E;
    border-radius: 10px;
}

.buttonPlayerCard {
    background-color: var(--lemon-green);
    color: var(--dark-gray);
}
.buttonPlayerCard:hover {
    color: var(--dark-gray);
    background-color: var(--neon-purple);
}
.buttonPlayerCard:active {
    background-color: #A6E22E;
    border-radius: 10px;
}