.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url("https://cdna.artstation.com/p/assets/images/images/036/404/632/large/nick-bear-312-bg-sq17sc228-int-alien-mothership-air-vent-v06-color-nb-copy.jpg");
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 50%;
}

.gameTitle {
    font-size: 2.5em;
    color: white;
    text-align: center;
}